<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.cs %> 
        <%= @user.email %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.sensors.any? %>
      <h3>sensors (<%= @user.sensors.count %>)</h3>
      <ol class="sensors">
        <%= render @sensors %>
      </ol>
      <%= will_paginate @sensors %>
    <% end %>
  </div>
</div>